<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>SupportsSwiftPackage</key>
		<true/>
		<key>Kind</key>
		<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
		<key>Description</key>
		<string>A MVVM scene.</string>
		<key>Summary</key>
		<string>A MVVM scene.</string>
		<key>SortOrder</key>
		<string>2</string>
		<key>DefaultCompletionName</key>
		<string>MyProduct</string>
		<key>Platforms</key>
		<array>
			<string>com.apple.platform.iphoneos</string>
			<string>com.apple.platform.macosx</string>
		</array>
		<key>Options</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>productName</string>
				<key>Required</key>
				<true/>
				<key>Name</key>
				<string>Scene Name</string>
				<key>Description</key>
				<string>The scene name (e.g. Calendar)</string>
				<key>Type</key>
				<string>text</string>
				<key>Not Persisted</key>
				<true/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>viewType</string>
				<key>Required</key>
				<true/>
				<key>Name</key>
				<string>View Type</string>
				<key>Description</key>
				<string>The type of view to use</string>
				<key>Type</key>
				<string>popup</string>
				<key>Default</key>
				<string>View</string>
				<key>Values</key>
				<array>
					<string>View</string>
					<string>View Controller</string>
					<string>SwiftUI</string>
				</array>
			</dict>
		</array>
	</dict>
</plist>
